<%- include('./includes/head.ejs') %>

  <style>
  #img{
    width: 200px;
  }
</style>

  <h1 class="headings">ABOUT US</h1>
  <section class="profiles">
    <a href="#" id="A"><img src="imgs/Kavisha.jpeg" alt="" id="img" />

      <div>
        <h3 id="h3">Kavisha Shah</h3>
        <span class="designation" id="span">Member</span>
        <span id="span">21BCP143</span>
      </div>
    </a>

    <a href="#" id="A"><img src="imgs/Dev.jpeg" alt="" id="img" />

      <div>
        <h3 id="h3">Dev Patel</h3>
        <span class="designation" id="span">Member</span>
        <span id="span">21BCP145</span>
      </div>
    </a>

    <a href="#" id="A"><img src="imgs/Nishil Image.jpeg" alt="" id="img" />

      <div>
        <h3 id="h3">Nishil Patel</h3>
        <span class="designation" id="span">Member</span>
        <span id="span">21BCP161</span>
      </div>
    </a>

    <a href="#" id="A"><img src="imgs/Prasann image.JPG" alt="" id="img" />
      <div>
        <h3 id="h3">Prasann Parikh</h3>
        <span class="designation" id="span">Leader</span>
        <span id="span">21BCP170</span>
      </div>
    </a>

    <a href="#" id="A"><img src="imgs/modi image.jpeg" alt="" id="img" />
      <div>
        <h3 id="h3">Pratham Modi</h3>
        <span class="designation" id="span">Member</span>
        <span id="span">21BCP171</span>
      </div>
    </a>
  </section>
  <%- include('./includes/end.ejs') %>