<%- include('./includes/head.ejs') %>
<style>
  body{
    background-image: url("imgs/image.png");
  }
</style>

<h1 class="headings2" style="margin-bottom: 3.5rem">BANKER'S ALGORITHM</h1>
<div class="container" style="width: 100rem">
  <p style="color: white; font-size: 1.25rem">
    It is a banker algorithm used to avoid deadlock and allocate resources
    safely to each process in the computer system. The 'S-State' examines all
    possible tests or activities before deciding whether the allocation should
    be allowed to each process. It also helps the operating system to
    successfully share the resources between all the processes. The banker's
    algorithm is named because it checks whether a person should be sanctioned a
    loan amount or not to help the bank system safely simulate allocation
    resources.
  </p>
  <div style="display: flex; padding: 2.7rem 5rem 2rem">
    <div style="width: 30rem; color: white; margin: 0 5rem">
      <ul class="ul">
        <h1 class="sub-headings2">Advantages</h1>
        <li>
          Each process should provide information to the operating system for
          upcoming resource requests, the number of resources, and how long the
          resources will be held.
        </li>
        <li>
          It helps the operating system manage and control process requests for
          each type of resource in the computer system.
        </li>
        <li>
          The algorithm has a Max resource attribute that represents indicates
          each process can hold the maximum number of resources in a system.
        </li>
      </ul>
    </div>
    <div style="width: 30rem; color: white; margin: 0 2rem">
      <ul class="ul">
        <h1 class="sub-headings2">Disadvantages</h1>
        <li>
          It requires a fixed number of processes, and no additional processes
          can be started in the system while executing the process.
        </li>
        <li>
          The algorithm does no longer allows the processes to exchange its
          maximum needs while processing its tasks.
        </li>
        <li>
          Each process has to know and state their maximum resource requirement
          in advance for the system.
        </li>
        <li>
          The number of resource requests can be granted in a finite time, but
          the time limit for allocating the resources is one year.
        </li>
      </ul>
    </div>
  </div>
  <button class="sim-button"><a href="/banker's-algo">Simulator</a></button>
</div>
<%- include('./includes/end.ejs') %>
