<%- include('./includes/head.ejs') %>
    
    <div class="center">
        <h1 class="headings">DEAD LOCK</h1>
    </div>

    <div class="container" ></div>
    
<%- include('./includes/end.ejs') %>