<%- include('./includes/head.ejs') %>
<!-- <style>
  body{
    background-image: url("imgs/image.png");
  }
</style> -->
<div class="center" style="margin-top: 200px">
    <h1 class="solution-heading" style="color: white; font-size: 70px">
    404 NOT FOUND
    </h1>
</div>
<%- include('./includes/end.ejs') %>
