<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Blinking Blocks</title>
    <link rel="stylesheet" href="../css/style3.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="heading">
      <button class="home" onclick="location.href = '/';">
          <i class="fa-solid fa-house" style="color: #fef2bf"></i>
        </button>
      <h1 id="level-title">Press Enter to Start</h1>
    </div>
    <div class="container">
      <div class="row">
        <div type="button" id="green" class="btn green"></div>
        <div type="button" id="red" class="btn red"></div>
      </div>

      <div class="row">
        <div type="button" id="yellow" class="btn yellow"></div>
        <div type="button" id="blue" class="btn blue"></div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="../js/game3.js"></script>
    <script
      src="https://kit.fontawesome.com/226c829c6f.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
