<%- include('./includes/head.ejs') %>

<style>
    body{
      background-image: url("imgs/image.png");
    }
  </style>

    <div class="center">
        <h1 class="headings">MRU</h1>
    </div>

    <div class="container">
        <form action="/mru" method="POST" id="myForm">
            <table class=" table table-striped table-dark" style="width: 65rem; margin: 0 auto;">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td scope="col">
                        Enter Frame:<input type="number" min="1" max="20" name="frame" id="frame" required="required"
                            class="smallCell" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <table class="table table-striped table-dark" id="myTable" style="width: 65rem; margin: 0 auto;">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!-- <td scope="col" style="text-align: center">Reference</td> -->
                            <td scope="col" style="text-align: center"><a style="margin-right: 15px;"> Reference: </a>
                                <input type="text" name="reference" pattern="[0-9 ]*" inputmode="numeric"
                                    class="smallCellData" id="reference" required="required"
                                    placeholder=" e.g. 1 2 3 4 5" style="width: 350px;" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                </table>
            </table>
            <div style="margin: auto; display: flex;">
                <button type="submit" class="b1" style="margin: 15px auto;">Calculate</button>
            </div>
        </form>
    </div>
    </div>
    <%- include('./includes/end.ejs') %>