<%- include('./includes/head.ejs') %>

    <div class="center">
        <h1 class="headings">MRU</h1>
    </div>

    <div class="container">
        <form action="/mru" method="POST" id="myForm">
            <table class=" table table-striped table-dark" style="width: 50rem; margin: 0 auto;">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td scope="col">
                        Enter Frame:<input type="number" name="frame" id="frame" required="required"
                            class="smallCell" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <table class="table table-striped table-dark" id="myTable" style="width: 50rem; margin: 0 auto;">
                    <thead>
                        <tr>
                            <th scope="col" colspan="3" style="text-align: center">Reference</th>
                            <th scope="col" colspan="3" style="text-align: center"><input type="text" name="reference"
                                class="smallCellData" id="reference" required="required"
                                style="text-align: center" />
                        </th>
                        </tr>
                    </thead>
                </table>
            </table>
            <div style="margin: auto; display: flex;">
                <button type="submit" class="b1" style="margin: auto;">Calculate</button>
            </div>
        </form>
    </div>
    </div>
    <%- include('./includes/end.ejs') %>