<%- include('./includes/head.ejs') %>

<div class="center">
    <h1 class="headings">SCAN <span>/</span> C-SCAN</h1>
  </div>

<% for (var i=0; i < completed_processes.length; i++) { %>
    <h1> <%= completed_processes[i].id %> </h1>
    <% } %>
<%- include('./includes/end.ejs') %>