*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-color: black;
  font-family: "Nunito", sans-serif;
}

span {
  color: #dd2682;
}

li {
  font-size: 1.1rem;
}

.headings {
  font-weight: 150;
  font-size: 6rem;
  color: white;
  padding: 0rem clamp(1rem, 2vw, 13rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  text-decoration: underline #dd2682 3px;
  text-underline-offset: 7px;
  margin: 2rem auto 8rem;
}

.sim-button {
  margin-left: 35.5zrem;
  background: transparent;
  color: white;
  border: none;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 7px;
}

.sim-button:hover {
  color: #dd2682;
}

.sub-headings {
  font-weight: 150;
  color: white;
  text-decoration: underline #dd2682 2px;
  text-underline-offset: 5px;
}

.profiles {
  display: flex;
  justify-content: center;
  align-content: center;
}

.profiles {
  max-width: 70em;
  margin: 0 auto;
  padding: 0 2em;
  justify-content: space-between;
}

a {
  transition: 0.3s all ease-in;
  position: relative;
  z-index: 1;
  filter: grayscale(100%);
  opacity: 0.9;
  margin: 1rem 0.25rem;
}

a:hover {
  transform: scale(1.3);
  z-index: 2;
  filter: grayscale(0);
  opacity: 1;
  margin: 1rem;
}

a div {
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px;
  font: 400 12px/1 arial;
  opacity: 0;
  transition: 0.3s all ease-in;
  color: #fff;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

h3 {
  font-size: 14px;
  line-height: 1.3;
}

span {
  color: #ccc;
}

span.designation {
  font-weight: 300;
  color: #ddd;
  font-size: 12.5px;
}

a:hover div {
  opacity: 1;
  height: 50px;
  bottom: 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

img {
  height: 250px;
  max-width: 100%;
  transition: 0.3s all ease-in;
}

a:first-child img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
a:last-child img {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

a:hover img {
  border-radius: 4px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
  .profiles {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .profiles a {
    width: 50%;
  }
}

::-webkit-scrollbar{
  width: 10px;
  opacity: 0.6;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #dd2682;
  border-radius: 10px;
}