body {
  text-align: center;
  background-color: #011f3f;
  overflow: hidden;
}

.home{
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  letter-spacing: 1.1px;
  font-size: 250%;
  outline: none;
  margin-left:-94%;
  margin-top: 10px;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 280%;
  margin-bottom: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

