@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #fff;
  color: #333;
  overflow: hidden;
}
.game-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 20px;
}
#score {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}
.arrow {
  margin-top: 20vh;
  font-size: 200px;
  cursor: default;
  /* color: #36a2eb; */
  /* color: #ff6384; */  
}

/* Animations */
.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
.shake, .pulse, .reversePulse {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}
@-webkit-keyframes reversePulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes reversePulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.reversePulse {
  -webkit-animation-name: reversePulse;
  animation-name: reversePulse;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.shake{
  animation-name: shake;
}

.wrongAnswer{
  background-color: red;
  opacity: 0.7;
}


/* Progress Bar */
#progress-bar-container {
  width: 80%;
  margin: 0 auto 10px auto;
  background-color: #ccc;
  border-radius: 5px;
}
#progress-bar {
  width: 100%;
  height: 8px;
  background-color: #00cc99;
  border-radius: 5px;
  transition-duration: 0.5s;
  transition-property: background-color;
}

/* Restart Game Button */
#restartGameButton {
  position: absolute;
  top: 6px;
  right: 20px;
  font-size: 16px;
  background-color: #ccc;
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition-duration: 0.2s;
  transition-property: background-color;
}
#restartGameButton:hover {
  background-color: #333;
}
#restartGameButton:active {
  background-color: #000;
}

#game-over{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: gray;
  z-index: 2;
  opacity: 0;
  color: black;
  border: 10px solid #222;
  border-radius: 10px;
  text-align: center;
  padding-top: 9.5%;
}

#game-over-text{
  color: black;
  font-size: 60px;
}

button{
  color: #fff;
  font-size: 20px;
  margin-top: 25px;
  margin-inline: 10px;
  background: #222;
  border: 3.5px solid #222;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px;
}

button:hover{
  color: #000;
  font-weight: 500;
  transition: .3s;
  background-color: transparent;
}

.home{
  position: absolute;
  left: 10px;
  top: -10px;
  border: none;
  background: none;
  text-transform: uppercase;
  height: 5%;
  font-weight: 700;
  letter-spacing: 1.1px;
  font-size: 200%;
  outline: none;
}

@media (max-width: 767px) {
  .arrow {
    font-size: 180px;
  }
  #restartGameButton {
    top: 8px;
    right: 8px;
    font-size: 14px;
  }
}